.rules {
  position: relative;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 120px 20px;

  background-image: url("/bg-main-2.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  /* inset: 0; */
  background: rgba(0, 0, 0, 0.65);
}

.content {
  position: relative;
  z-index: 2;

  max-width: 700px;
  width: 100%;

  padding: 70px 60px;

  background: rgba(0, 0, 0, 0.85);

  color: #cfcfcf;

  font-family: "Montserrat", sans-serif;
  line-height: 1.8;

  border-radius: 4px;
}

.content h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 35px;
  font-weight: 500;
  color: white;
}

.content p {
  margin-bottom: 18px;
  font-size: 15px;
}

.content ul {
  margin: 25px 0;
  padding-left: 18px;
}

.content li {
  margin-bottom: 14px;
}

.footer {
  margin-top: 35px;
  text-align: center;
  color: white;
}
